@model Domain.Models.Url

<h2>Url`s info</h2>
<p>
    Short url: @(Model.ShortUrl)
</p>
<p>
    Long url: @(Model.LongUrl)
</p>
<p>
    Created: @(Model.Created)
</p>
<p>
    Short url: @(Model.LastUpdate)
</p>
<p>
    Creator: @(Model.Creator.Login)
</p>
